<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>turnstile</name>
    <displayName><![CDATA[Cloudflare Turnstile]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Replace annoying reCaptcha with user-friendly Cloudflare Turnstile.]]></description>
    <author><![CDATA[blauwfruit]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>

